In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
gdp_df = pd.read_csv("../Data/gdp_percapita.csv", nrows=6868)

In [4]:
internet_df = pd.read_csv("../Data/internet_use.csv", nrows=4495)

98. Look at the shape of each DataFrame - how many rows? How many columns?

In [5]:
np.shape(gdp_df)

(6868, 4)

In [6]:
np.shape(internet_df)

(4495, 4)

6.	Take a look at the datatypes for the columns in each DataFrame.

In [7]:
gdp_df.dtypes

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

In [8]:
internet_df.dtypes

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

99. Take a look at the last 10 rows of each DataFrame in turn.

In [11]:
gdp_df.iloc[-10]

Country or Area       Zimbabwe
Year                      1999
Value              3600.849291
Value Footnotes            NaN
Name: 6858, dtype: object

In [12]:
internet_df.iloc[-10]

Country or Area    Zimbabwe
Year                   2002
Value              3.994356
Value Footnotes         NaN
Name: 4485, dtype: object

7.	Drop the `value footnotes` column from both DataFrames. Check that this worked as expected.

8.	Change the columns for the GDP Per Capita DataFrame to ‘Country’, ‘Year’, and ‘GDP_Per_Capita’.

9.	Change the columns for the Internet Users DataFrame to ‘Country’, ‘Year’, and ‘Internet_Users_Pct’.

10.	Merge the two DataFrames to one. Merge **all rows** from each of the two DataFrames. Call the new DataFrame `gdp_and_internet_use`.

11.	Look at the first five rows of your new DataFrame to confirm it merged correctly.